@import './common/_var.scss';
@import './mixins/mixins.scss';

$color-list: (
  primary: $primary,
  success: $success,
  warning: $warning,
  danger: $danger,
  info: $info
);

$color-active-list: (
  primary: $primary-active,
  success: $success-active,
  warning: $warning-active,
  danger: $danger-active,
  info: $info-active
);

@include blockquote(button) {
  @include status($color-list);
  display: inline-flex;
  font-size: $font-size;
  border-radius: $border-radius;
  padding: 0px 20px;
  outline: none;
  border: none;
  box-shadow: 2px 2px #ccc;
  color: #fff;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  min-width: 80px;
  &:active {
    @include status($color-active-list);
  }
}
